@{
    ViewData["Title"] = "Zapatilla";
}

<img src="/Images/@ViewBag.Zapatilla.Foto">
<h1>@ViewBag.Zapatilla.Nombre</h1>
<h2>@ViewBag.Zapatilla.Precio</h2>

<form action='@Url.Action("AgregarAlCarrito")' method="post" class="formulario-zapatillas">
    <div class="formulario-colores">
        <label>Colores:</label>
        <div class="color-options">
            @foreach (COLOR item in ViewBag.Colores)
            {
                <input type="radio" name="Color" value="@item.IdColor" required> @item.Nombre
            }
        </div>
    </div>
    <div class="formulario-talles">
        <label>Talles:</label>
        <div class="color-options">
            @foreach (TALLE item in ViewBag.Talles)
            {
                <input type="radio" name="Talle" value="@item.IdTalle" required> @item.Numero
            }
        </div>
    </div>
    <input type="hidden" name="Modelo" value="@ViewBag.Zapatilla.IdModelo">
    <input type="hidden" name="Precio" value="@ViewBag.Zapatilla.Precio">

    <div class="formulario-botones">
        <button type="submit" class="boton-b">Agregar al carrito</button>
    </div>

</form>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
    onclick="MostrarTalles()">Tabla de Talles</button>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalTitulo" style="color: black;"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" id="ModalBody">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">US</th>
                            <th scope="col">Foot Length</th>
                        </tr>
                    </thead>
                    <tbody id="DatosTalles">
                        <!-- Contenido de la tabla -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@* <!– Modal Promociones –> *@
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal"
    onclick="MostrarPromociones(11)">Conoce las promociones</button>


<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalTitulo" style=color:black;></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ModalBody">
                <div id="Info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


